---
import Header from "../components/Header.astro";
import NavCardProject from "../components/NavCardProject.astro";
import NavCardNotes from "../components/NavCardNotes.astro";
import WelcomeMessage from "../components/WelcomeMessage.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Home</title>
  </head>
  <body>
    <Header />
    <div
      class="h-screen w-screen flex justify-center items-center bg-home-background bg-center bg-no-repeat bg-beige-200"
    >
      <div class="flex justify-center flex-wrap h-full">
        <div class="flex justify-center items-center w-full h-[61.8%]">
          <WelcomeMessage />
        </div>
        <div class="w-[80%] flex justify-around h-[31.2%] flex-wrap items-center">
          <NavCardProject class="inline-block" />
          <NavCardNotes class="inline-block" />
        </div>
      </div>
    </div>
  </body>
</html>

<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");
</style>
