---
import Header from "../components/Header.astro";
import PostCard from "../components/PostCard.vue";
import PostCardSection from "../components/PostCardSection.astro";
---

<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Home</title>
  </head>
  <body>
    <Header />
    <div
      class="flex justify-center w-screen min-h-[100vh] bg-gradient-to-t from-theme-beige-300 to-theme-beige-200"
    >
      <div
        class="md:flex-col justify-center sm: w-[70%] relative mt-10 pb-10 transition-all ease-in-out"
      >
        <div
          class="h-[1.2em] w-full text-[60px] sm:tracking-wide sm:text-[40px] text-[#ffffff00] sm:w-auto sm:absolute sm:left-[-180px] sm:top-[210px] sm:rotate-[-90deg] z-10 bg-theme-orange-500 flex justify-center items-center text-3xl transition-all ease-in-out font-display-mono font-light bg-clip-text bg-gradient-to-t from-theme-pink-500 to-theme-orange-500"
        >
          University Notes
        </div>
        <div
          class="h-[825px] w-full sm:relative sm:top-0 z-20 items-center font-medium text-3xl mt-[-29px] sm:mt-0 sm:w-[90%] left-5 transition-all ease-in-out"
        >
          <PostCardSection title="test section">
            <PostCard
              client:load
              to="/projects/test-post"
              imgURL="/src/assets/DALE example post.webp"
              title="This is a testpost test test test"
            />
            <PostCard
              client:load
              to="/projects/test-post"
              imgURL="/src/assets/DALE example post.webp"
              title="This is a testpost test test test"
            />
            <PostCard
              client:load
              to="/projects/test-post"
              imgURL="/src/assets/DALE example post.webp"
              title="This is a testpost test test test"
            />
          </PostCardSection>
        </div>
      </div>
    </div>
  </body>
</html>

<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
</style>
