---
import HeaderLogo from "../components/HeaderLogo.astro"
import HeaderLink from "../components/HeaderLink.astro"
---

<html>
  <div class="flex w-screen h-[57px] justify-center shadow-md top-0 sticky z-40 bg-[#ffffff]">
    <div class="flex w-[70%] justify-between items-center">
      <HeaderLogo>
      </HeaderLogo>
      <div class="flex w-1/4 justify-between items-center sm:hidden">
        <HeaderLink to="/">home</HeaderLink>
        <HeaderLink to="/projectsLanding">
          projects
        </HeaderLink>
        <HeaderLink to="/notesLanding">notes</HeaderLink>
      </div>
    </div>
  </div>

</html>