---
---

<html>
  <div class="w-full flex font-extrabold text-[290px] justify-center items-center bg-gradient-to-t bg-clip-text text-[#ffffff00] from-theme-orange-500 to-theme-pink-500">
      <slot></slot>
  </div>
</html>

