<html>
  <div class="flex justify-center items-center w-[646px] h-[153px] flex-wrap">
    <div class="flex justify-start items-center w-full">
      <span class="text-[96px] font-extrabold font-sans bg-gradient-to-l from-theme-orange-500 to-theme-gray-500 via-theme-pink-500 text-[#ffffff00] bg-clip-text">Welcome....</span>
    </div>
    <div class="flex justify-end items-center w-full">
      <span class="text-xl font-sans font-bold">...to a place where you can explore my work!</span>
    </div>
  </div>
</html>